.sticky-note {
    background-color: rgb(110, 110, 242);
    border: none;
    border-radius: 12px;
}

.sticky-note .card-title {
    font-weight: bold;
}

.sticky-note .card-body {
    min-height: 180pc;
}